<h1>SHOW ME YOUR BEST JAB</h1>


<div>
<h2><%=@jab.title%><h2>
    <ul>
        <li>
            <%= @jab.subject%>
            </li>
</ul>
<div>
Content: <%= @jab.content%>
</div>

</div>

<br/>


<a href="/jabs/<%= @jab.id%></edit"> EDIT POST</a>
<br/>
<br/>
<br/>


<form method="POST" action="/jabs/<%= @jab.id%>/delete">

<input type="hidden" name="_method" value="DELETE">
 
<input type="submit" value="Delete this jab!">

</form>